{% extends "students/base.html" %}

{% block title %}
    All {{ total_students }} Students
{% endblock %}

{% block content  %}
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.age }}</td>
                <td>
                    <a href="{% url 'studentManagementSystem:student_detail' student.id  %}"> View </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}